.navbar {
    background: #717C90;
}

.logo {
    padding-left: 25px;
}

.search-input {
    padding-right: 25px;
}

body {
    background: #2d3142;
    color: #fff;
}

a {
    color: #ef8354;
}

#map {
    margin: 0 auto;
    margin-top: 2rem;
    border: 4px solid #717c90;
}

.events {
    width: 75%;
    margin: 0 auto;
}